@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: 'Noto Sans JP', sans-serif
}
body{
    min-width: 400px;
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.header{
    width: 100%;
    padding: 1em;
    background-color: #000;
}

.navbar{
    display: flex;
    flex-direction: column
}
.title{
    color: #fff;
    margin-bottom: 1em
}
.form-container{
    display: flex
}
.label{
    color: #fff;
}
.input{
    text-align: center;
    margin-right: 1em;
}
.button{
    padding: 0 1em;
    margin-right: 1em
}

@media all and (max-width: 835px){
    .form-container{
        flex-direction: column
    }
    .form{
        margin-bottom: 1em
    }
    #download-button{
        width: 60%
    }
}

@media all and (max-width: 435px){
    .form{
        display: flex;
        flex-direction: column
    }
    .input{
        width: 40%
    }
    #submit-button{
        margin-top: 0.5em;
        width: 60%
    }
}

#background{
    position: relative;
    width: 100%;
    flex-grow: 1;
}

.animated{
    animation: enter 1000ms forwards ease-in-out;
}

@keyframes enter{
    0%{
        transform: scale(1)
    }
    25% {
        transform: scale(0)
    }
    75%{
        transform: scale(2)
    }
    100%{
        transform: scale(1)
    }
}